<%- include('../public/partials/header.ejs') %>

<style>
  @media (max-width: 800px) {
    #card {
        width: 19rem;
        height: 20.5rem;
        font-size: 0.6rem;
    }
    .btn{
        margin-left:7% ;
        margin-right:6% ;
    }
}
</style>

  <body class="background-radial-gradient">
    <section class="text-center">
      <div
        id="radius-shape-1"
        class="position-absolute rounded-circle shadow-5-strong"
      ></div>
      <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
      <div class="card mx-9 lg-12 mx-md-5 shadow-5-strong" id="card">
        <div class="card-body px-md-5 align-left">
          <h2 class="fw-bold mb-5">Login</h2>


          
          <form method="post" action="/login" style="text-align: left">
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3"
                >Email address</label
              >
              <input type="email" id="form3Example3"  name="email" class="form-control" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example4">Password</label>
              <input type="password" id="form3Example4"  name="password" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4" style="margin: auto;">
              Login</button>
              </form>

           


        </div>
      </div>
    </section>

    <%- include('../public/partials/footer.ejs') %>